<button id="toggle-error-alert-{{ alert_id }}"
        hx-swap-oob="outerHTML"
        type="button"
        hx-get="/alert/{{ alert_id }}/show-maximized-error"
        hx-target="#error-msg-{{ alert_id }}-minimized"
        hx-swap="afterend"
        class="ms-auto -my-1.5 bg-opacity-20 bg-white text-gray-400 hover:text-gray-100 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-orange-400/70 inline-flex items-center justify-center h-8 w-8"
        aria-label="Expand alert">
    <span class="sr-only">Expand alert</span>
    {% include "/components/popups/alerts/error/maximize-icon.svg" %}
</button>
