{% block content %}

{% if added_event_list|length>0 %}
    {% for poll_event in added_event_list %}

        {% with id=poll_event.event.id, event=poll_event.event, is_selected=poll_event.selected %}
            <tr
                    class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                    id="event-accordion-row-{{ id }}"
                    hx-get="/events/{{ id }}/expand_row"
                    hx-trigger="dblclick"
                    hx-target="#event-accordion-row-{{ id }}"
                    hx-swap="outerHTML"
            >
                {% with padding='px-2 py-1' %}

                    {% with color=event.color if event.color %}
                        {% if is_selected %}
                            {% include "/components/row/event-checked-box.html" %}
                        {% else %}
                            {% include "/components/row/event-unchecked-box.html" %}
                        {% endif %}
                    {% endwith %}

                    {% with event=event %}
                        {% include "/components/row/data-cells.html" %}
                    {% endwith %}

                    {% with id=id, color=event.color %}
                        {% include "/components/row/expand-btn.html" %}
                    {% endwith %}

                {% endwith %}

            </tr>

        {% endwith %}

    {% endfor %}
{% endif %}

{% if poll_event_list|length>0 %}
    {% for poll_event in poll_event_list %}

        {% if poll_event.expanded==True %}
            {% with id=poll_event.event.id, event=poll_event.event, event_attr=poll_event.event_attr,
                           event_logs=poll_event.event_logs,
                           event_history=poll_event.event_history, event_msgs=poll_event.event_msgs,
                           is_selected=poll_event.selected %}


                <tr
                        class="bg-white dark:bg-gray-800 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-600"
                        id="event-accordion-row-{{ id }}"
                        hx-get="/events/{{ id }}/collapse_row"
                        hx-trigger="dblclick"
                        hx-swap="multi:#event-accordion-row-{{ id }}:outerHTML,#event-details-row-{{ id }}:delete"
                        hx-swap-oob="outerHTML"
                >

                    {% with padding='px-2 py-1' %}

                        {% with color=event.color if event.color %}
                            {% if is_selected %}
                                {% include "/components/row/event-checked-box.html" %}
                            {% else %}
                                {% include "/components/row/event-unchecked-box.html" %}
                            {% endif %}
                        {% endwith %}

                        {% with event=event %}
                            {% include "/components/row/data-cells.html" %}
                        {% endwith %}

                        {% with id=id, color=event.color %}
                            {% include "/components/row/collapse-btn.html" %}
                        {% endwith %}

                    {% endwith %}

                </tr>

                <tr
                        id="event-details-row-{{ id }}"
                        hx-swap-oob="outerHTML"
                        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"

                >
                    {% include "/components/accordion/event-details-content.html" %}
                </tr>

            {% endwith %}
        {% else %}
            {% with id=poll_event.event.id, event=poll_event.event, is_selected=poll_event.selected %}


                <tr
                        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                        id="event-accordion-row-{{ id }}"
                        hx-get="/events/{{ id }}/expand_row"
                        hx-trigger="dblclick"
                        hx-target="#event-accordion-row-{{ id }}"
                        hx-swap="outerHTML"
                        hx-swap-oob="outerHTML"
                >
                    {% with padding='px-2 py-1' %}

                        {% with color=event.color if event.color %}
                            {% if is_selected %}
                                {% include "/components/row/event-checked-box.html" %}
                            {% else %}
                                {% include "/components/row/event-unchecked-box.html" %}
                            {% endif %}
                        {% endwith %}

                        {% with event=event %}
                            {% include "/components/row/data-cells.html" %}
                        {% endwith %}

                        {% with id=id, color=event.color %}
                            {% include "/components/row/expand-btn.html" %}
                        {% endwith %}

                    {% endwith %}

                </tr>

            {% endwith %}
        {% endif %}

    {% endfor %}
{% endif %}

{% if removed_event_list|length>0 %}
    {% for id in removed_event_list %}

        <tr
                id="event-accordion-row-{{ id }}"
                hx-swap-oob="outerHTML"
                hidden
        >

        </tr>

        <tr
                id="event-details-row-{{ id }}"
                hx-swap-oob="outerHTML"
                hidden

        >
        </tr>

    {% endfor %}
{% endif %}

{% endblock content %}
