<tr
        class="bg-gray-800 border-gray-600 hover:bg-gray-600"
        id="event-accordion-row-{{ id }}"
        hx-get="/events/{{ id }}/collapse_row"
        hx-trigger="dblclick"
        hx-swap="multi:#event-accordion-row-{{ id }}:outerHTML,#event-details-row-{{ id }}:delete"
        hx-target-error="body"
>

    {% with padding='px-2 py-1' %}

        {% with color=event.color if event.color %}
            {% if is_selected %}
                {% include "/components/row/event-checked-box.html" %}
            {% else %}
                {% include "/components/row/event-unchecked-box.html" %}
            {% endif %}
        {% endwith %}



        {% with event=event %}
            {% include "/components/row/data-cells.html" %}
        {% endwith %}

        {% with id=id, color=event.color %}
            {% include "/components/row/collapse-btn.html" %}
        {% endwith %}

    {% endwith %}

</tr>

<tr
        id="event-details-row-{{ id }}"
        hx-swap-oob="outerHTML"
        class="border-b bg-gray-900 border-gray-700 hover:bg-gray-600"

>
    {% include "/components/accordion/event-details-content.html" %}
</tr>

<div id="update-event-{{ id }}-status-modal"
     hx-swap-oob="delete"
>
</div>
