[flask]
SECRET_KEY =
DEBUG = true
CACHE_TYPE = 'FileSystemCache'
CACHE_DIR = './.howitz_cache'

[howitz]
storage = "./howitz.sqlite3"
devmode = true
timezone='LOCAL'

[zino.connections.default]
server =

[logging]
version = 1

[logging.root]
level = "ERROR"
