<!-- HTMX Config -->
<meta name="htmx-config"
      content='{"defaultFocusScroll":"true", "useTemplateFragments":"true", "responseTargetUnsetsError":"false"}'>


<!-- Tailwind CSS Config -->
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    zinogray: 'rgba(255, 255, 255, 0.4)',
                    zinogreen: {
                        50: '#ecffe5',
                        100: '#d5ffc7',
                        200: '#acff95',
                        300: '#76ff57',
                        400: '#4af626',
                        500: '#27dc06',
                        600: '#18b100',
                        700: '#148605',
                        800: '#16690b',
                        900: '#14590e',
                        950: '#043201',
                    },
                }
            }
        }
    }
</script>