<!--    HTMX Extensions-->
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>


<script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>


<!-- Tailwind CSS Plugins -->
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
