<button type="button"
        class="relative h-10 w-10 flex justify-center items-center text-2xl bg-slate-600 rounded-full ring-2 ring-white text-white font-medium"
        id="user-menu-btn"
        aria-expanded="true"
        data-dropdown-toggle="user-menu-dropdown"
        data-dropdown-placement="bottom"
        hx-get="/navbar/hide-user-menu"
        hx-trigger="click"
        hx-target="closest div"
        hx-swap="innerHTML"

>

    <span class="sr-only">Hide user menu</span>
    U
</button>
