<div id="update-event-{{ id }}-status-modal"
     class="fixed inset-0 z-50 flex flex-col items-center justify-center"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true"
     hx-target-error="body"
>
    <div
            class="modal-underlay inset-0 bg-gray-500 bg-opacity-50 transition-opacity"
            hx-get="/get_none"
            hx-target="#update-event-{{ id }}-status-modal"
            hx-swap="delete"
    ></div>

    <div class="w-1/3 flex items-end justify-center p-4 text-center sm:items-center sm:p-0">

        <div class="relative transform overflow-x-auto overflow-y-auto rounded-lg bg-white text-left shadow-xl sm:my-8 sm:w-full sm:max-w-3xl w-fit">
            <div class="bg-slate-700 px-4 py-4 sm:flex sm:px-6">
                <h3 class="text-lg font-semibold leading-6 text-white" id="modal-title">Update event #{{ id }}
                </h3>
            </div>

            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="w-full mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">


                        <div
                                id="update-event-{{ id }}-form"
                                class="mb-6">

                            <form class="mb-6 space-y-5">

                                <div class="text-base w-4/5">
                                    <label
                                            for="event-state"
                                            class="block mb-2 font-medium text-white">
                                        Select state
                                    </label>
                                    <select id="event-state"
                                            name="event-state"
                                            class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                                        <option class="px-2" value="open"
                                                {% if current_state=='open' %}selected{% endif %}>Open
                                        </option>
                                        <option class="mx-2" value="working"
                                                {% if current_state=='working' %}selected{% endif %}>Working
                                        </option>
                                        <option value="waiting"
                                                {% if current_state=='waiting' %}selected{% endif %}>Waiting
                                        </option>
                                        <option value="confirm-wait"
                                                {% if current_state=='confirm-wait' %}selected{% endif %}>Confirm
                                        </option>
                                        <option value="ignored"
                                                {% if current_state=='ignored' %}selected{% endif %}>Ignored
                                        </option>
                                        <option value="closed" {% if current_state=='closed' %}selected{% endif %}>
                                            Closed
                                        </option>
                                    </select>
                                </div>

                                <div class="w-4/5 py-2 px-4 mb-4 rounded-lg rounded-t-lg border bg-gray-800 border-gray-700">
                                    <label for="comment" class="sr-only">Your comment</label>
                                    <textarea id="comment" rows="4"
                                              name="event-history"
                                              class="px-0 w-full text-base border-0 focus:ring-0 focus:outline-none text-white placeholder-gray-400 bg-gray-800"
                                              placeholder="Add a message to history..."></textarea>
                                </div>

                                <button
                                        type="submit"
                                        hx-post="/event/{{ id }}/update_status"
                                        hx-target="#event-accordion-row-{{ id }}"
                                        hx-swap="outerHTML show:#ol-event-{{ id }}:bottom"
                                        hx-indicator="#bulk-update-indicator"
                                        hx-target-400="#generic-400-error"
                                        class="mr-1 inline-flex items-center py-2 px-4 font-medium text-center text-white rounded-lg focus:ring-4 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">
                                    Update event
                                </button>

                                <p id="bulk-update-indicator"
                                   class="flex-inline mt-2 animate-pulse text-white bulk-update-htmx-indicator">
                                    Updating event #{{ id }}...
                                </p>

                                <div id="generic-400-error"></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-slate-700 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <div id="progress-bar-bulk-state-update">

                </div>
                <button
                        hx-get="/get_none"
                        hx-target="#update-event-{{ id }}-status-modal"
                        hx-swap="delete"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-slate-700 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-white hover:bg-slate-600 sm:mt-0 sm:w-auto">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
