<!DOCTYPE html>
<html
        lang="en"
        class="h-full bg-slate-900"
>
<head>
    <title>Howitz | {% block page_title %}{% endblock %} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% include "includes/configs.html" %}

    {% include "includes/scripts.html" %}

    {% include "includes/style.html" %}

</head>
<body
        hx-ext="{% block extensions %}{% endblock %}"
        class="h-full"
        hx-target-error="body"
        hx-sync="this:queue all"
>
{% block content %} {% endblock content %}

</body>
</html>
