<!DOCTYPE html>
<html lang="en">
<head>
    <title>Howitz | {% block page_title %}{% endblock %} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% include "includes/configs.html" %}

    {% include "includes/scripts.html" %}

</head>
<body
        hx-ext="[{% block extensions %}{% endblock %}]"
>
{% block content %} {% endblock content %}

</body>
</html>
