<!DOCTYPE html>
<html
        lang="en"
        class="h-full bg-slate-900"
>
<head>
    <title>Howitz | {% block page_title %}{% endblock %} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% include "includes/configs.html" %}

    {% include "includes/scripts.html" %}

</head>
<body
        hx-ext="[{% block extensions %}{% endblock %}]"
        class="h-full"
>
    {% block content %} {% endblock content %}

</body>
</html>
