<div
        id="event-actions-buttons"
        class="flex justify-end flex-nowrap gap-x-4"
>

    {% include "/components/accordion/update-state-btn.html" %}

    <button
            id="poll-event-{{ id }}"
            hx-post="/event/{{ id }}/poll"
            hx-target="#event-accordion-row-{{ id }}"
            hx-swap="outerHTML show:#event-msg-feed-{{ id }}:bottom"
            hx-indicator="#row-{{ id }}-indicator"
            class="text-white focus:ring-4 font-medium rounded-lg text-sm px-3 py-2 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800"
    >
        Poll
    </button>

    {% if event.type == 'portstate' %}
        <button id="clear-flapping-{{ id }}"
                hx-post="/event/{{ id }}/clear-flapping"
                hx-target="#event-accordion-row-{{ id }}"
                hx-swap="outerHTML show:#event-msg-feed-{{ id }}:bottom"
                hx-indicator="#row-{{ id }}-indicator"
                class="text-white focus:ring-4 font-medium rounded-lg text-sm px-3 py-2 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">
            Clear Flapping
        </button>
    {% endif %}

</div>
