<div id="event-msg-feed-{{ id }}" class="flow-root">

    <ul
            id="ol-event-{{ id }}"
            class="relative border-l border-gray-700">
        {% for msg in event_msgs %}
            <li class="mb-3 ml-4">

                <div class="absolute w-3 h-3  rounded-full mt-1.5 -left-1.5 border border-gray-900 {% if msg.user %} bg-orange-400 {% else %} bg-blue-400 {% endif %}"></div>
                <h3 class="mb-1 text-xs font-normal leading-none text-gray-400">
                    {{ msg.user }}
                </h3>
                <div
                        class="flex gap-0 flex-wrap"
                >
                    <time class="mr-2 text-sm font-semibold text-white shrink-0">{{ msg.date }}</time>
                    <p class="mb-2 text-sm font-normal text-gray-400 break-words">{{ msg.log }}</p>
                </div>

            </li>


        {% endfor %}
    </ul>

</div>
