<table
        class="border-collapse border border-slate-500 w-full text-sm text-left text-gray-400 table-auto"
        hx-get="/get_events"
        hx-swap="outerHTML"
        hx-target="#eventlist-list"
        hx-trigger="load"
>
    <thead class="sticky top-0 z-20 text-xs text-center uppercase bg-gray-700 text-gray-100">
    <tr class="text-teal-100 text-nowrap">
        <th scope="col" class="border border-slate-600 px-2 py-2"></th>
        <th scope="col" class="border border-slate-600 px-2 py-2">#</th>
        <th scope="col" class="border border-slate-600 px-2 py-2">OP-STATE</th>
        <th scope="col" class="border border-slate-600 px-2 py-2">ADM-STATE</th>
        <th scope="col" class="text-right border border-slate-600 px-2 py-2">AGE</th>
        <th scope="col" class="text-right border border-slate-600 px-2 py-2">DOWNTIME</th>
        <th scope="col" class="text-left border border-slate-600 px-2 py-2">ROUTER</th>
        <th scope="col" class="text-left border border-slate-600 px-2 py-2">PORT</th>
        <th scope="col" class="text-left border border-slate-600 px-2 py-2">DESCRIPTION</th>
        <th scope="col" class="border border-slate-600 px-2 py-2"></th>
    </tr>
    </thead>
    <tbody
            id="eventlist-list"
    >
    {% for n in range(30) %}
        {% include "/components/row/table-row-skeleton.html" %}
    {% endfor %}
    </tbody>
</table>
