<table
        class="border-collapse border border-slate-500 w-full text-sm text-left text-gray-600 dark:text-gray-400 table-auto"
        hx-get="/get_events"
        hx-swap="innerHTML"
        hx-target="#eventlist-list"
        hx-trigger="load"
>
    <thead class="text-xs text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-300">
    <tr>
        <th scope="col" class="border border-slate-600 px-4 py-2">#</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">OP-STATE</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">ADM-STATE</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">AGE</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">DOWNTIME</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">ROUTER</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">PORT</th>
        <th scope="col" class="border border-slate-600 px-4 py-2">DESCRIPTION</th>
        <th scope="col" class="border border-slate-600 px-4 py-2"></th>
    </tr>
    </thead>
    <tbody
            id="eventlist-list"
    >
    {% for n in range(30) %}
    {% include "/components/row/table-row-skeleton.html" %}
    {% endfor %}
    </tbody>
</table>
