<!DOCTYPE html>
<html lang="en">
<head>
    <title>Howitz | Events</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="htmx-config" content='{"defaultFocusScroll":"true"}'>
    <!-- Load from unpkg -->
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

<!--    Extensions -->
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>

    <link rel="stylesheet" href="../static/main.css">
</head>
<body
        hx-ext="class-tools"
        hx-ext="multi-swap"
        hx-ext="disable-element"
        hx-ext="loading-states"
        hx-ext="response-targets"
>
<h1>HTMx Zino 2.0 Events List</h1>
<main class="relative overflow-x-auto shadow-md sm:rounded-lg">

    {% block content %}
    {% endblock content %}
</main>

</body>
</html>
