{% block content %}

<tr
        id="event-details-row-{{ id }}"
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"

>
    <td colspan="100">

        <p id="indicator-{{ id }}" class="my-htmx-indicator">LOADING...</p>

        <div
                id="accordion-collapse-body-{{ id }}"
                aria-labelledby="accordion-collapse-row-{{ id }}"
                class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">


            <div
                    class="flex gap-4 grow-0 justify-stretch"
            >

                <div class="flex flex-col basis-2/5">
                    {% with case_attr=case_attr %}
                    {% include "ui-event-attributes.html" %}
                    {% endwith %}
                </div>

                <div class="flex flex-col basis-3/5">
                    {% with event_logs=event_logs %}
                    {% include "ui-event-messages.html" %}
                    {% endwith %}
                </div>

            </div>



<!--                <div class="flex w-screen">-->
<!--                    <div class="p-4">-->
<!--                        <div class="block bg-white overflow-hidden border-2">-->
<!--                            <div class="p-4">-->
<!--                                <h2 class="mt-2 mb-2 font-bold text-2xl font-Headingg">-->
<!--                                    Card Name-->
<!--                                </h2>-->
<!--                                <div class="mb-4 flex flex-wrap">-->
<!--                                    <span class="mr-2">Link 1</span>-->
<!--                                    <span>Link 2</span>-->
<!--                                </div>-->

<!--                                <p class="text-md">Some Description</p>-->
<!--                            </div>-->
<!--                            <div class="p-4 flex flex-wrap">-->
<!--                                <p class="px-1 py-2 tracking-wide text-xs mr-2 mb-2">Tag #1</p>-->
<!--                                <p class="px-1 py-2 tracking-wide text-xs mr-2 mb-2">Tag #2</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="p-4 basis-0 grow overflow-y-auto">-->
<!--                        <div class="block bg-white border-2">-->
<!--                            <div class="p-4">-->
<!--                                <h2 class="mt-2 mb-2 font-bold text-2xl font-Headingg">-->
<!--                                    Card Name-->
<!--                                </h2>-->
<!--                                <div class="mb-4 flex flex-wrap">-->
<!--                                    <span class="mr-2">Link 1</span>-->
<!--                                    <span>Link 2</span>-->
<!--                                </div>-->

<!--                                <p class="break-all text-md">Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.Some Description Lorem ipsum dolor sit amet, consectetur-->
<!--                                    adipiscing elit. Maecenas vel enim lectus.</p>-->
<!--                            </div>-->
<!--                            <div class="p-4 flex flex-wrap items-center">-->
<!--                                <p class="px-1 py-2 tracking-wide text-xs mr-2 mb-2">Tag #1</p>-->
<!--                                <p class="px-1 py-2 tracking-wide text-xs mr-2 mb-2">Tag #2</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->



        </div>

    </td>
</tr>

{% with id=id %}
{% include "ui-collapse-row-btn.html" %}
{% endwith %}

{% endblock content %}

