<div
        id="event-actions-buttons"
        class="flex justify-end gap-x-4"
>

    {% include "/components/accordion/update-state-btn.html" %}

    <button
            disabled
            id="poll-event-{{ id }}"
            class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-3.5 py-2.5 mr-2 mb-2 text-center"
    >
        Poll
    </button>

    <button
            disabled
            id="clear-flapping-{{ id }}"
            class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-3.5 py-2.5 mr-2 mb-2 text-center">
        Clear Flapping
    </button>

</div>
