<td class="{{ padding }} text-center font-medium whitespace-nowrap border border-slate-700 text-{{ color }}-400">
    <div class="relative">
        <div class="h-2 bg-{{ color }}-100 opacity-30 blur-xl">
            {{ event.op_state }}
        </div>
        <div class="absolute inset-0 flex justify-center items-center">
            {{ event.op_state }}
        </div>
    </div>
</td>
<td class="{{ padding }} text-center font-medium whitespace-nowrap border border-slate-700 text-{{ color }}-400">
    <div class="relative">
        <div class="h-2 bg-{{ color }}-100 opacity-30 blur-xl">
            {{ event.adm_state }}
        </div>
        <div class="absolute inset-0 flex justify-center items-center">
            {{ event.adm_state }}
        </div>
    </div>
</td>
