<td class="px-6 py-4 border border-slate-700">{{ event.id }}</td>
<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white border border-slate-700">{{
    event.op_state }}
</td>
<td class="px-6 py-4 border border-slate-700 {% if event.color is not none %}bg-{{ event.color }}-600{% endif %}">{{ event.adm_state }}</td>
<td class="px-6 py-4 border border-slate-700">{{ event.age }}</td>
<td class="px-6 py-4 border border-slate-700">{{ event.downtime }}</td>
<td class="px-6 py-4 border border-slate-700">{{ event.router }}</td>
<td class="px-6 py-4 border border-slate-700">{{ event.port }}</td>
<td class="px-6 py-4 border border-slate-700">{{ event.description }}</td>
