<tr
        class="border-b bg-gray-900 border-gray-700 hover:bg-gray-600 {{ 'checked' if is_selected }}"
        id="event-accordion-row-{{ id }}"
        hx-get="/events/{{ id }}/expand_row"
        hx-trigger="dblclick"
        hx-target="#event-accordion-row-{{ id }}"
        hx-swap="outerHTML"
>
    {% with padding='px-2 py-1' %}

        {% with color=event.color if event.color %}
            {% if is_selected %}
                {% include "/components/row/event-checked-box.html" %}
            {% else %}
                {% include "/components/row/event-unchecked-box.html" %}
            {% endif %}
        {% endwith %}

        {% with event=event %}
            {% include "/components/row/data-cells.html" %}
        {% endwith %}

        {% with id=id, color=event.color %}
            {% include "/components/row/expand-btn.html" %}
        {% endwith %}

    {% endwith %}

</tr>
