<td
        id="toggle-row-btn-{{ id }}"
        class="{{ padding }} border border-slate-700 relative"
        hx-get="/events/{{ id }}/expand_row"
        hx-trigger="click"
        hx-target="#event-accordion-row-{{ id }}"
        hx-swap="outerHTML"
        hx-indicator="#row-{{ id }}-indicator"
>

    {% include "/components/row/row-toggle-spinner.html" %}

    <svg
            id="svg-icon-{{ id }}"
            class="w-6 h-6 shrink-0 mx-auto" fill="{{ color if (color != '' and color is not none) else 'currentColor' }}"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
    </svg>
</td>
