<p class="p-2 text-white text-semibold inline-block">
    Howitz: version {{ howitz_version }}.
</p>
<p class="p-2 text-white text-semibold inline-block">
    Updating every {{ refresh_interval }}s.
</p>
<p class="p-2 text-white text-semibold inline-block">
    Displaying #{{ event_count }} events.
</p>
<p class="p-2 text-white text-semibold inline-block">
    Sort method: {{ sort_by }}.
</p>
<p class="p-2 text-white text-semibold inline-block">
    Configured timezone is {{ timezone }}.
</p>
<p class="p-2 text-white text-semibold inline-block">
    Connected to "{{ zino_server }}" with {{ protocol }}.
</p>
